music-snitch {
  display: block;
  visibility: hidden;
  transition: opacity 150ms ease-in-out;
  margin: auto;
  text-align: center;
}

music-snitch.is-visible {
  visibility: visible;
  padding: 1em;
}

music-snitch.is-playing {
  animation: marquee 20s linear infinite;
  white-space: nowrap;

  &:hover {
    animation-play-state: paused;
  }
}

music-snitch::part(a) {
  display: inline;
  text-decoration: none;
}

music-snitch::part(title) {
  display: inline;
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
